html,body{
        min-height: 100%;
        min-width: 515px;
        overflow: auto;
        overflow-x: hidden;
        background-color: #dceffc;
	margin:0
}

body {
	background-color: #dceffc;
}

header {
	background-color: #12598a;
}


nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
        width: 99%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.left li {
	float: left;
	transition: all .2s ease-in-out;
}
ul.left li:hover{
	transform: scale(1.1);
  }
.static {
	position:absolute;

}

.active {
	opacity:0;
}
.active:hover {
	opacity:1;
}
ul.right li:hover{
  transform: scale(1.1)
}

ul.right li {
	float: right;
	transition: all .2s ease-in-out;
}

nav img {
	height: 55px;
	padding: 10px;
	filter: invert();
	max-width: 100%;
}

/* width */
::-webkit-scrollbar-track
{       
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{       height: 10px;
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
        border-radius: 20px;
	background-color: #bbdef6;	
}

@font-face { font-family: dbTitleFont; src: url('../font/dbFontTitles.otf'); } 
@font-face {  font-family: dbTextFont;  src: url('../font/dbFontText.ttf');}
		main {
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			padding-top: 10%;
			justify-content:center;
			align-items: first baseline;
			min-height: 100vh;
			height: 100%;
			font-family: dbTitleFont;
			background-color: #dceffc;
      }
      
	  	.maindiv {
		display: flex;
		font-family: dbTitleFont;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-color: #dceffc;
		height: 100%;

		
		
	 }

		.edit{
                        display: flex;
                        text-align: left;
                        width: 100%;
                        min-width: 515px;
                        transition: all .2s ease-in-out;
                        flex-direction: row;
                        align-content: flex-end;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        justify-content: flex-start;
		
	 }
		.edit img:hover{
		transform: scale(1.25);
		cursor: pointer;
	 }
		
		.container {
                    resize: none;
                    overflow: auto;
                    display: flex;
                    font-family: dbTextFont;
                    flex-direction: row;
                    align-items: center;
                    /*justify-content: center;*/
                    margin: 10px;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 15px;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
                    width: calc(80% - 40px);
                    background-color: #C3E0F2;
                    max-width: 1000px;
                    min-width: 400px;
                    min-height: 100px;
			
		}
.imgcontainer{
                      position: relative;
        display: inline-block;
    width: 300px;
    height: 300px;
    margin-right: 20px;
    margin-left: 20px;
}
                .imgcontainer-width{
                     position: relative;
                    display: inline-block;
                    width:  300px;
                    height: 300px;
                }
.outer-image {
                        display: block;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20%;
                }

.inner-image {
                      position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 225px;
    height: 225px;
                }
                .close-sess{
                    text-align:left !important;
                }
                .image-button{
                    text-align: right;
                }
		
                .store-button{
                    min-width:50px;
                }
		h1{
				display: inline;
				padding-bottom: 0px;
				margin-block-start: 20px;
		
		}
		h2{
			margin-block-start: 0;
			margin-block-end: 0;
			padding-top: 0px;
		}

		h6{
			margin-block-start: 10px;
			margin-block-end: 10px;
		}
		img.moneda{
			box-shadow:none;
 			width: 20px;
		    border: 0;
			margin-left:0%;
			margin-right: 0%;
			padding: 0%;
			height: 20px;
		}
                img{
                    transition: all .2s ease-in-out;
                }
		img.edit{
			box-shadow:none;
			width: 50px;
		   	border: 0;
		   	margin-left:0%;
		   	padding: 0%;
		   	height:50px;
		}
a[id = "upvote"]:hover{
    filter: invert(41%) sepia(54%) saturate(2186%) hue-rotate(181deg) brightness(99%) contrast(110%);
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

a[id = "downvote"]:hover{
    filter: invert(35%) sepia(40%) saturate(6709%) hue-rotate(347deg) brightness(100%) contrast(92%);
    transform: scale(1.1);
        transition: all .2s ease-in-out;
}
		img.store{
			box-shadow:none;
			width: 50px;
		   	border: 0;
		   	margin-left:0%;
		   	padding: 0%;
		   	height:50px;
		}

		img{
			border-radius: 15px;
		}

		.text {
                    resize: none;
                    overflow: auto;
                    font-family: dbTextFont;
                    flex-direction: row;
                    align-items: center;
                    transition: all .2s ease-in-out;
                    /*justify-content: center;*/
                    margin: 10px;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 15px;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
                    width: calc(80% - 40px);
                    background-color: #ffff;
                    max-width: 1000px;
                    min-width: 515px;
                    min-height: 100px;
		}
                
                      input[type="button"],
      input[type="reset"] {
        background-color: #0099ff;
        border: none;
        text-align: center;
        color: white;
        font-family: dbTitleFont;
        padding: 0.5em 1em;
        margin-top: 1em;
        border-radius: 5px;
        cursor: pointer;
      }

      img[id="pfp"]{
          width: 250px;
          height: 250px;
      }
      input[type="button"]:hover,
      input[type="reset"]:hover {
        background-color: #0a6fb3;
      }
		
		.modPerfil{
			float: right;
		}
                
                
		p[id="bio"]{
			font-family: dbTextFont;
		}
		.profile-image{
			vertical-align:middle;
		 }
		 .profile-link{
			text-decoration:none;
			color:black;
		 }
     .box {
        resize: none;
        overflow: auto;
        display: flex;
        font-family: dbTextFont;
        flex-direction: row;
        align-items: center;
        transition: all .2s ease-in-out;
        cursor:pointer;
        /*justify-content: center;*/
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        width: calc(80% - 40px);
	background-color: #ffff;
        max-width: 1000px;
        min-width: 400px;
        min-height: 100px;
      }
	 .box:hover{
		transform: scale(1.1);
	  }
	  
	  	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		min-width:400px;
		height: 100%;
	 }
	 
	.content img {
		width: 30px;
		height:30px;
		margin-left: 10px;
                margin-right: 10px;
		border-radius:15px;
		transition: all .2s ease-in-out;
		
	 }
	  .content img:hover{
		transform: scale(1.25);
		cursor: pointer;
	 }
	 .content p {
		 padding: 5px;
		 justify-content: center;
	 }
      
	 
	 	
	 	.buttons {
float: right;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: right;
    text-align: center;
    align-items: center;

		}
		
		  
		
		
		
      .minimg {
        height: 100px;
        width: 100px;
        object-fit: cover;
        margin-right: 20px;
      }
      
      .minp {
        margin: 5px;
		justify-content: center;
        font-size: 16px;
        font-weight: 600;
      }
	  
	  
	.ubi {
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
	 }
		
	  
	  
	  
	  .expbox {
		margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        width: calc(70% - 40px);
        max-width: 1000px;
		min-width: 400px;
	  }
	    .expimg {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 20px;
      }
      
      .expbox p {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
      }
	  
      @media (max-width: 768px) {
        .box {
          width: calc(50% - 40px);
        }
      }
      
      @media (max-width: 480px) {
        .box {
          width: calc(100% - 40px);
        }
      }